@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --main-color: #001ECB;
  --background-color: #F4F1EA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--background-color);
  color: var(--main-color);
}

h1 {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
}